<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link rel='stylesheet' href='/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/css/style.css' />
      {% if autorefresh == true %}
        <META HTTP-EQUIV="REFRESH" CONTENT="30">
      {% endif %}
  </head>
  <body>
    {% block body %}{% endblock %}
    <script src="/js/jquery-3.3.1.slim.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
